<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
<display-name>JSP_09</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>anasayfa</servlet-name>
<jsp-file>/index.jsp</jsp-file>
</servlet>
<servlet-mapping> 
<servlet-name>anasayfa</servlet-name>
<url-pattern>/anasayfa </url-pattern> 
</servlet-mapping>
<servlet> 
<servlet-name>hesapMakinesi</servlet-name>
<jsp-file>/hesapMakinesi.jsp</jsp-file>
<init-param>
<param-name>bilgi</param-name>
<param-value> Bu işlem Gölkem Eren tarafından yapılmıştır.. </param-value> 
</init-param>
<init-param>
<param-name>sayi1</param-name>
<param-value>147</param-value>
</init-param>
<init-param>
<param-name>sayi2</param-name>
<param-value>451</param-value>
</init-param>
</servlet>
<servlet-mapping> 
<servlet-name>hesapMakinesi.jsp</servlet-name>
<url-pattern>/hesapMakinesi.jsp</url-pattern>
</servlet-mapping >
</web-app>
